.profile {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: row;
    text-align: center;
}

.profile-img {
    width: 350px;
    height: auto;
    border-radius: 50%; 
    margin-right: 20px; 
}

.social-icon {

    
    float: left;
    text-align: right;
    padding: 0 2em;
    margin-right: 20px;
    margin-bottom: 15px;
    
}

.social-icon img {
    width: 50px; 
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
    transition: opacity 0.5s ease;
}


